@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
li {
    color:#1d20af;
    line-height: 1.5;
    font-size: 16pt;
    font-weight: bold;
}
body {
    display: grid;
    font-family: "Poppins", sans-serif;
    place-items: center;
    background-color:rgb(139, 133, 133);
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.box-1 {
    box-shadow: 1px 2px 3px ;
    border-radius: 58px;
    box-shadow: 3px, 8px, 16px,  rgba(2, 0, 0, 0.1);
    padding: 10px ;
    cursor: pointer;
	box-sizing: border-box;
    padding: 8px 10px;
}
p {
    font-weight: bold;
    font-size: 24px;
}